.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  nav {
    position: relative;
    z-index: 4;
    padding: 1rem;
    background: rgba($white, .5);
    .menu {
      @include pseudo-list;
      display: flex;
      flex-direction: column;
      width: 90%;
      max-width: 60rem;
      margin: 0 auto;
      @include breakpoint ($tablet-down) {
        flex-direction: row;
      }
      .menu-item {
        position: relative;
        font-weight: bold;
        margin: 0 1rem;
        transition: {
          property: padding;
          duration: .2s;
          timing-function: $cubic;
        }
        a {
          color: $white;
          &:hover {
            color: lighten($blue, 25%);
          }
        }
        .submenu {
          position: absolute;
          top: -10000vh;
          left: 1rem;
          width: 10rem;
          font-weight: normal;
          z-index: 3;
          filter: opacity(0) blur(5px);
          transform: translateY(-.25rem);
          transition: {
            property: filter, transform;
            duration: .5s;
            timing-function: $cubic;
          }
          @include pseudo-list;
          .submenu-item {

          }
        }
        &:hover {
          padding-bottom: 5rem;
          .submenu {
            filter: opacity(1) blur(0);
            transform: translateY(0);
            top: 1.5rem;
          }
        }
      }
    }
  }
  .social {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    padding: 1rem;
    transition: {
      property: background, color;
      duration: .2s;
      timing-function: $cubic;
    }
    a {
      color: rgba($white, .5);
    }
    &:hover {
      background: rgba($white, .5);
      a {
        color: $black;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}
