a {
  color: $blue;
  text-decoration: none;
  transition: {
    property: color;
    duration: $fast;
    timing-function: $cubic;
  };

  &:focus,
  &:hover,
  &:active {
    color: lighten($blue, 10%);
  }

  &:active {
    background: transparent;
  }

  &:visited {
    color: $blue;
  }

  &.bright-link {
    color: $blue;

    &:focus,
    &:hover,
    &:active {
      color: darken($blue, 10%);
    }

    &:visited {
      color: $blue;
    }
  }
}
