<section class="business-card">
  <header class="business-card__header">
    <h2 class="title business-card__title">Daniel Jauch</h2>
    <h3 class="business-card__subtitle">Full Stack Developer</h3>
  </header>
  <main class="business-card__main">
    <article class="business-card__tech-stack">
      <h3 class="title">My preferred tech stack</h3>

    </article>
    <article class="business-card__contact-info">
      <h3 class="title">My contact info</h3>
      <div class="contact-info-item">
        <div class="contact-info-item__label">Email: </div>
        <div class="contact-info-item__item">
          <a href="mailto:daniel.p.jauch@gmail.com" class="contact-info-item__link">daniel.p.jauch@gmail.com</a>
        </div>
      </div>
      <div class="contact-info-item">
        <div class="contact-info-item__label">Phone: </div>
        <div class="contact-info-item__item">
          <a href="tel:+12532242531" class="contact-info-item__link">+1 (253) 244-2531</a>
        </div>
      </div>
    </article>
  </main>
  <footer class="business-card__footer">
    <div class="business-card__media-item">
      <a href="https://bitbucket.org/danieljauch/" class="business-card__media-item__link">
        <i class="fab fa-bitbucket link__icon"></i>
        <span class="link__text"> BitBucket</span>
      </a>
    </div>
    <div class="business-card__media-item">
      <a href="https://github.com/danieljauch" class="business-card__media-item__link">
        <i class="fab fa-github link__icon"></i>
        <span class="link__text"> GitHub</span>
      </a>
    </div>
  </footer>
</section>
