<footer class="site__footer">
  <div class="social">
    <div class="social__main-label">Find me: </div>
    <ul class="social__list">
      <li class="social__list-item">
        <a href="https://codepen.io/collection/DbNaRW/#" class="social__link">
          <span class="social__label">CodePen </span>
          <i class="fab fa-codepen social__icon"></i>
        </a>
      </li>
      <li class="social__list-item">
        <a href="https://bitbucket.org/danieljauch/" class="social__link">
          <span class="social__label">BitBucket </span>
          <i class="fab fa-bitbucket social__icon"></i>
        </a>
      </li>
      <li class="social__list-item">
        <a href="https://github.com/danieljauch" class="social__link">
          <span class="social__label">GitHub </span>
          <i class="fab fa-github social__icon"></i>
        </a>
      </li>
      <li class="social__list-item">
        <a href="https://twitter.com/basemntspaceshp" class="social__link">
          <span class="social__label">Twitter </span>
          <i class="fab fa-twitter social__icon"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="copy">
    <span>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.
    </span>
  </div>
  <div class="credit">
    <span>Website by:
      <a href="https://danieljauch.bitbucket.io/">Daniel Jauch</a>
    </span>
  </div>
</footer>