a {
  position: relative;
  color: darken($blue, 10%);
  text-decoration: none;
  font-weight: bold;
  transition: {
    property: color;
    duration: .2s;
    timing-function: $cubic;
  }
  &[data-tooltip="true"]:after {
    content: attr(data-tooltip-content);
    color: $white;
    position: absolute;
    width: 6rem;
    top: 2.5rem;
    left: -3rem;
    text-align: center;
    opacity: 0;
    transform: translateY(-.25rem) translateZ(0);
    pointer-events: none;
    transition: {
      property: opacity, transform;
      duration: .5s;
      timing-function: $cubic;
    }
  }
  &:hover, &:focus {
    color: darken($blue, 5%);
    &[data-tooltip="true"]:after {
      opacity: 1;
      transform: translateY(0) translateZ(0);
      pointer-events: inherit;
    }
  }
  &:visited {
    color: darken($blue, 10%);
  }
}
