.work-page {
  .standard-nerd-gif {
    display: block;
    width: 10rem;
    margin: 1rem auto;
    box-shadow: $card-shadow;
    background: rgba($blue, .5);
  }

  .download-btn {
    display: inline-block;
  }

  @include breakpoint($tablet) {
    .standard-nerd-gif {
      float: right;
      margin: 1rem;
    }
  }
}
