$black: #000;
$white: #fff;
$blue: #006ea9;
$green: #00aa2a;

$tablet: 30em; /* 480/16 */
$tablet-down: 48em; /* 768/16 */
$desktop: 64em; /* 1024/16 */
$desktop-wide: 75em; /* 1200/16 */

$cubic: cubic-bezier(.29,.06,.34,.99);
